.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Each section in a separate column */
    gap: 20px;
  }
  
  .section {
    padding: 10px;
  }
  

  .container > div:not(:last-child) {
    border-right: 1px solid #fff;
  }
  
  .social-icons {
    text-align: center; 
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center; 
    font-size: 24px; 
  }
  
  .social-icons a {
    margin-top: 10px; 
  }
  
  .social-icons a:first-child {
    margin-top: 0; 
  }
  